![title](moto.png)

## Links to the data we use in this research

- World Bank Open Data, Population total : https://data.worldbank.org/indicator/SP.POP.TOTL?utm_source=chatgpt.com
- World Bank Open Data, Labor Force Participation Rate by Gender : https://genderdata.worldbank.org/en/indicator/sl-tlf-acti-zs?utm_source=chatgpt.com
- World Bank Open Data, Ration of female to male labour forcce participation rate : https://data.worldbank.org/indicator/SL.TLF.CACT.FM.ZS?end=2023&most_recent_value_desc=true&start=2023&type=shaded&utm_source=chatgpt.com&view=map&year=2023
- World Bank Open Data, Population number : https://genderdata.worldbank.org/en/indicator/sp-pop?utm_source=chatgpt.com
- Eurostat, Population by sex, age, citizenship and labour status : https://ec.europa.eu/eurostat/databrowser/view/lfsa_pganws/default/table?lang=en&category=mi.mii.mii_emp
- US Bureau of labor statistics, Labor force characteristics by race and ethnicity, 2021 : https://www.bls.gov/opub/reports/race-and-ethnicity/2021/

## Code work ahead!
yeah, I sure hope it does

In [1]:
import pandas as pd

In [2]:
# let's load data from the second link
df_labour = pd.read_csv("data/labor-force-participation-rate-of-population/Labor force participation rate (% of population) .csv")

df_labour.head()

,Indicator Name,Indicator Code,Country Name,Country Code,Year,Value,Disaggregation
0,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,Africa Eastern and Southern,AFE,2023,64.487,"female, Modeled, 15+"
1,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,Africa Eastern and Southern,AFE,2022,64.218,"female, Modeled, 15+"
2,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,Africa Eastern and Southern,AFE,2021,64.059,"female, Modeled, 15+"
3,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,Africa Eastern and Southern,AFE,2020,63.535,"female, Modeled, 15+"
4,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,Africa Eastern and Southern,AFE,2019,64.309,"female, Modeled, 15+"

In [3]:
# let's load data from the third link
df_f2mratio = pd.read_csv("data/API_SL/Ratio of female to male labor force participation rate.csv")

df_f2mratio.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,Ratio of female to male labor force participat...,SL.TLF.CACT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Ratio of female to male labor force participat...,SL.TLF.CACT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.303943,84.975700,84.636705,84.224640,83.843562,83.224101,83.484320,83.462266,86.178096,NaN
2,Afghanistan,AFG,Ratio of female to male labor force participat...,SL.TLF.CACT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,25.379774,27.105606,28.936935,27.751625,26.375400,24.678652,21.795863,7.346387,7.339854,NaN
3,Africa Western and Central,AFW,Ratio of female to male labor force participat...,SL.TLF.CACT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.692845,85.286540,85.112944,84.947476,84.856368,84.327709,84.850259,84.750611,87.753791,NaN
4,Angola,AGO,Ratio of female to male labor force participat...,SL.TLF.CACT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,94.113828,94.228507,94.345269,94.467953,94.594069,94.673470,95.603481,93.617593,93.402725,NaN

In [4]:
# let's load data from the fourth link
df_population = pd.read_csv("data/population-number/Population (number).csv")
df_population.head()

,Indicator Name,Indicator Code,Country Name,Country Code,Year,Value,Disaggregation
0,"Population, female",SP.POP.TOTL.FE.IN,Africa Eastern and Southern,AFE,2023,379025748.0,"female, All ages"
1,"Population, female",SP.POP.TOTL.FE.IN,Africa Eastern and Southern,AFE,2022,369655503.0,"female, All ages"
2,"Population, female",SP.POP.TOTL.FE.IN,Africa Eastern and Southern,AFE,2021,360249371.0,"female, All ages"
3,"Population, female",SP.POP.TOTL.FE.IN,Africa Eastern and Southern,AFE,2020,350869705.0,"female, All ages"
4,"Population, female",SP.POP.TOTL.FE.IN,Africa Eastern and Southern,AFE,2019,341569862.0,"female, All ages"

In [5]:
# let's load data from the fifth link
df_EU = pd.read_csv('data/EU-employment of migrats.tsv',sep='\t')
df_EU.head()

,"freq,unit,sex,citizen,age,wstatus,geo\TIME_PERIOD",1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"A,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,AT",: u,: u,: u,: u,: u,: u,: u,: u,: u,...,3.5 u,: u,3.2 u,: u,3.3 u,4.3 u,4.2 u,4.2 bu,5.7 u,5.6 u
1,"A,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,BE",: u,: u,: u,: u,: bu,: u,:,: u,: u,...,: u,: u,: u,: bu,: u,2.3 u,: u,: bu,: u,: u
2,"A,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CH",:,10.3,15.1,15.3,15.7,10.5,8.1 u,10.2,9.1,...,8.5,9.3,10.2,11.5,12.9,11.2,12.2,11.1 b,9.7,11.9
3,"A,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CY",:,:,:,:,: u,: u,: u,: u,: u,...,: u,: u,: u,0.7 u,: u,: u,: u,: bu,: u,0.6 u
4,"A,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CZ",:,:,:,: u,: u,:,: u,:,: u,...,:,: u,: u,:,: u,: u,: u,: bu,: u,:

## let's check if countries match in one and the other table(it's the same number of them and every is represented in both data frames)

In [6]:
set1 = set(df_population['Country Code'])
set2 = set(df_labour['Country Code'])

diff_population = set1 - set2
diff_labour = set2 - set1

diff_population # it shows countries that have data about population, but no about labour force participation

{'MAF', 'SXM'}

## we also need to download some data from US bureau of labour statistics

In [57]:
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium import webdriver
from bs4 import BeautifulSoup
import codecs
import re
import os

In [58]:
url = 'https://www.bls.gov/opub/reports/race-and-ethnicity/2021/?utm_source=chatgpt.com'

In [59]:
service = Service('./chromedriver')
driver = webdriver.Chrome(service=service)

wait = WebDriverWait(driver, 10)

######### for online parsing ###############

# driver.get(url) 

############################################

######### for offline parsing #############

file_path = os.path.abspath("/Users/george/Desktop/Labor force characteristics by race and ethnicity, 2021 : BLS Reports: U.S. Bureau of Labor Statisti.html")
url = f"file://{file_path}"

driver.get(url) 

###########################################

get_url = driver.current_url

# wait.until(EC.url_to_be(url))

if get_url == url:
    page_source = driver.page_source


table4 = WebDriverWait(driver, 10).until (
    EC.presence_of_element_located((By.ID,'cps_rer_lfpr_hist'))
)

table4.click()

rows = []
for header in table4.find_element(By.TAG_NAME, 'thead').find_element(By.TAG_NAME,'tr').find_elements(By.TAG_NAME,'th'):
    rows.append(header.text)

In [60]:
from itertools import chain
rows_temp = [rows[0]] + [[i+', total', i+', male', i+', female'] for i in rows[1:]]
header = list(chain.from_iterable(item if isinstance(item, list) else [item] for item in rows_temp))

header

['Year',
 'Total, total',
 'Total, male',
 'Total, female',
 'White, total',
 'White, male',
 'White, female',
 'Black or African American, total',
 'Black or African American, male',
 'Black or African American, female',
 'Asian, total',
 'Asian, male',
 'Asian, female',
 'Hispanic or Latino ethnicity, total',
 'Hispanic or Latino ethnicity, male',
 'Hispanic or Latino ethnicity, female']

In [62]:
df_US = pd.DataFrame(columns=header)
df_US

Empty DataFrame
Columns: [Year, Total, total, Total, male, Total, female, White, total, White, male, White, female, Black or African American, total, Black or African American, male, Black or African American, female, Asian, total, Asian, male, Asian, female, Hispanic or Latino ethnicity, total, Hispanic or Latino ethnicity, male, Hispanic or Latino ethnicity, female]
Index: []

In [63]:
temp_row = []
year = 1972
for row in table4.find_element(By.TAG_NAME,'tbody').find_elements(By.TAG_NAME,'tr'):
    for entry in row.find_elements(By.TAG_NAME,'td'):
        try:
            temp_row.append(float(entry.text))
        except:
            temp_row.append(entry.text)
    temp_row = [year] + temp_row
    df_US.loc[len(df_US)] = temp_row
    # print(temp_row)
    year += 1
    temp_row = []

In [65]:
df_US['Year'] = df_US['Year'].astype('int64')

In [66]:
df_US

,Year,"Total, total","Total, male","Total, female","White, total","White, male","White, female","Black or African American, total","Black or African American, male","Black or African American, female","Asian, total","Asian, male","Asian, female","Hispanic or Latino ethnicity, total","Hispanic or Latino ethnicity, male","Hispanic or Latino ethnicity, female"
0,1972,60.4,78.9,43.9,60.4,79.6,43.2,59.9,73.6,48.7,-,-,-,-,-,-
1,1973,60.8,78.8,44.7,60.8,79.4,44.1,60.2,73.4,49.3,-,-,-,60.2,81.5,41.0
2,1974,61.3,78.7,45.7,61.4,79.4,45.2,59.8,72.9,49.0,-,-,-,61.1,81.7,42.4
3,1975,61.2,77.9,46.3,61.5,78.7,45.9,58.8,70.9,48.8,-,-,-,60.8,80.7,43.2
4,1976,61.6,77.5,47.3,61.8,78.4,46.9,59.0,70.0,49.8,-,-,-,60.8,79.6,44.3
5,1977,62.3,77.7,48.4,62.5,78.5,48.0,59.8,70.6,50.8,-,-,-,61.6,80.9,44.3
6,1978,63.2,77.9,50.0,63.3,78.6,49.4,61.5,71.5,53.1,-,-,-,62.9,81.1,46.6
7,1979,63.7,77.8,50.9,63.9,78.6,50.5,61.4,71.3,53.1,-,-,-,63.6,81.3,47.4
8,1980,63.8,77.4,51.5,64.1,78.2,51.2,61.0,70.3,53.1,-,-,-,64.0,81.4,47.4
9,1981,63.9,77.0,52.1,64.3,77.9,51.9,60.8,70.0,53.5,-,-,-,64.1,80.6,48.3
10,1982,64.0,76.6,52.6,64.3,77.4,52.4,61.0,70.1,53.7,-,-,-,63.6,79.7,48.1
11,1983,64.0,76.4,52.9,64.3,77.1,52.7,61.5,70.6,54.2,-,-,-,63.8,80.3,47.7
12,1984,64.4,76.4,53.6,64.6,77.1,53.3,62.2,70.8,55.2,-,-,-,64.9,80.6,49.6
13,1985,64.8,76.3,54.5,65.0,77.0,54.1,62.9,70.8,56.5,-,-,-,64.6,80.3,49.3
14,1986,65.3,76.3,55.3,65.5,76.9,55.0,63.3,71.2,56.9,-,-,-,65.4,81.0,50.1
15,1987,65.6,76.2,56.0,65.8,76.8,55.7,63.8,71.1,58.0,-,-,-,66.4,81.0,52.0
16,1988,65.9,76.2,56.6,66.2,76.9,56.4,63.8,71.0,58.0,-,-,-,67.4,81.9,53.2
17,1989,66.5,76.4,57.4,66.7,77.1,57.2,64.2,71.0,58.7,-,-,-,67.6,82.0,53.5
18,1990,66.5,76.4,57.5,66.9,77.1,57.4,64.0,71.0,58.3,-,-,-,67.4,81.4,53.1
19,1991,66.2,75.8,57.4,66.6,76.5,57.4,63.3,70.4,57.5,-,-,-,66.5,80.3,52.4
20,1992,66.4,75.8,57.8,66.8,76.5,57.7,63.9,70.7,58.5,-,-,-,66.8,80.7,52.8
21,1993,66.3,75.4,57.9,66.8,76.2,58.0,63.2,69.6,57.9,-,-,-,66.2,80.2,52.1
22,1994,66.6,75.1,58.8,67.1,75.9,58.9,63.4,69.1,58.7,-,-,-,66.1,79.2,52.9
23,1995,66.6,75.0,58.9,67.1,75.7,59.0,63.7,69.0,59.5,-,-,-,65.8,79.1,52.6
24,1996,66.8,74.9,59.3,67.2,75.8,59.1,64.1,68.7,60.4,-,-,-,66.5,79.6,53.4
25,1997,67.1,75.0,59.8,67.5,75.9,59.5,64.7,68.3,61.7,-,-,-,67.9,80.1,55.1
26,1998,67.1,74.9,59.8,67.3,75.6,59.4,65.6,69.0,62.8,-,-,-,67.9,79.8,55.6
27,1999,67.1,74.7,60.0,67.3,75.6,59.6,65.8,68.7,63.5,-,-,-,67.7,79.8,55.9
28,2000,67.1,74.8,59.9,67.3,75.5,59.5,65.8,69.2,63.1,67.2,76.1,59.2,69.7,81.5,57.5
29,2001,66.8,74.4,59.8,67.0,75.1,59.4,65.3,68.4,62.8,67.2,76.2,59.0,69.5,81.0,57.6
30,2002,66.6,74.1,59.6,66.8,74.8,59.3,64.8,68.4,61.8,67.2,75.9,59.1,69.1,80.2,57.6
31,2003,66.2,73.5,59.5,66.5,74.2,59.2,64.3,67.3,61.9,66.4,75.6,58.3,68.3,80.1,55.9
32,2004,66.0,73.3,59.2,66.3,74.1,58.9,63.8,66.7,61.5,65.9,75.0,57.6,68.6,80.4,56.1
33,2005,66.0,73.3,59.3,66.3,74.1,58.9,64.2,67.3,61.6,66.1,74.8,58.2,68.0,80.1,55.3
34,2006,66.2,73.5,59.4,66.5,74.3,59.0,64.1,67.0,61.7,66.2,75.0,58.3,68.7,80.7,56.1
35,2007,66.0,73.2,59.3,66.4,74.0,59.0,63.7,66.8,61.1,66.5,75.1,58.6,68.8,80.5,56.5
36,2008,66.0,73.0,59.5,66.3,73.7,59.2,63.7,66.7,61.3,67.0,75.3,59.4,68.5,80.2,56.2
37,2009,65.4,72.0,59.2,65.8,72.8,59.1,62.4,65.0,60.3,66.0,74.6,58.2,68.0,78.8,56.5
38,2010,64.7,71.2,58.6,65.1,72.0,58.5,62.2,65.0,59.9,64.7,73.2,57.0,67.5,77.8,56.5
39,2011,64.1,70.5,58.1,64.5,71.3,58.0,61.4,64.2,59.1,64.6,73.2,56.8,66.5,76.5,55.9
40,2012,63.7,70.2,57.7,64.0,71.0,57.4,61.5,63.6,59.8,63.9,72.2,56.5,66.4,76.1,56.6
41,2013,63.2,69.7,57.2,63.5,70.5,56.9,61.2,63.5,59.2,64.6,73.0,57.1,66.0,76.3,55.7
42,2014,62.9,69.2,57.0,63.1,69.8,56.7,61.2,63.6,59.2,63.6,72.4,55.8,66.1,76.1,56.0
43,2015,62.7,69.1,56.7,62.8,69.7,56.2,61.5,63.8,59.7,62.8,71.4,55.2,65.9,76.2,55.7
44,2016,62.8,69.2,56.8,62.9,69.8,56.3,61.6,64.1,59.4,63.2,72.1,55.5,65.8,76.0,55.8
45,2017,62.9,69.1,57.0,62.8,69.5,56.4,62.3,64.6,60.3,63.6,71.9,56.4,66.1,75.8,56.4
46,2018,62.9,69.1,57.1,62.8,69.5,56.4,62.3,64.8,60.2,63.5,71.6,56.4,66.3,75.7,57.0
47,2019,63.1,69.2,57.4,63.0,69.6,56.8,62.5,64.8,60.5,64.0,71.8,57.1,66.8,75.9,57.7
48,2020,61.7,67.7,56.2,61.8,68.2,55.7,60.5,62.6,58.8,62.7,70.9,55.5,65.6,74.9,56.4
49,2021,61.7,67.6,56.1,61.5,67.9,55.4,60.9,63.5,58.8,63.8,71.8,56.8,65.5,75.4,55.8

In [67]:
df_US.to_csv('data/Labor force characteristics by race and ethnicity.csv', index=False)